#root {
    border: 1px solid black;
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

#revelation {
    margin-bottom: 30px;
}

.control-button {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

#reveal {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightcoral;
}

#play {
    background-color: azure;
}

#next {
    background-color: darkseagreen;
}